[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
.vs
*.v2
.vs/Sample.Novel/v17/.suo
*.v2
.vs/Sample.Novel/v17/.suo
*.v2
.vs/Sample.Novel/v17/.suo
.vs/Sample.Novel/DesignTimeBuild/.dtbcache.v2
src/Sample.Novel.HttpApi.Host/Logs/logs.txt
